<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
<div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/noodle/show-list}"> <!-- 企業ロゴ --> <img
                alt="main log" src="../../img_noodle/header_logo.png" height="35">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
        <p class="navbar-text navbar-right">
            <a th:href="@{/cart/show_list}" class="navbar-link">ショッピングカート</a>&nbsp;&nbsp;
            <a th:href="@{/}" class="navbar-link">注文履歴</a>&nbsp;&nbsp;
            <a th:href="@{/login-form}" class="navbar-link">ログイン</a>&nbsp;&nbsp;
            <a th:href="@{/logout}" class="navbar-link">ログアウト</a>
        </p>
    </div>
</div>
</div>
</body>
</html>